td { border-width:1px;border-style:solid;border-color:black}

.style_class0{	text-color:black;
		background:red;
}
	
.style_class1{	text-color:black;
		background:#3399FF
}

.style_class2{	text-color:black;
		background:#00A600
}

.style_class3{	text-color:black;
		background:yellow
}

.style_class4{	text-color:black;
		background:lightblue
}

.style_class5{	text-color:black;
		background:orange
}

.style_class6{	text-color:black;
		background:gray
}

.style_class7{	text-color:black;
		background:lightgreen
}

.style_class8{	text-color:black;
		background:#00B0B0
}

.style_class9{	text-color:black;
		background:#FFFFB7
}

.style_class10{	text-color:black;
		background:#FF7979
}

.style_class11{	text-color:black;
		background:red;
}
	
.style_class12{	text-color:black;
		background:#3399FF
}

.style_class13{	text-color:black;
		background:#00A600
}

.style_class14{	text-color:black;
		background:yellow
}

.style_class15{	text-color:black;
		background:lightblue
}

.style_class16{	text-color:black;
		background:orange
}

.style_class17{	text-color:black;
		background:gray
}

.style_class18{	text-color:black;
		background:lightgreen
}

.style_class19{	text-color:black;
		background:#00B0B0
}

.style_class20{	text-color:black;
		background:#FFFFB7
}

.style_class21{	text-color:black;
		background:#FF7979
}